span {
  font-family: 'Bungee', cursive;
  
}

.header-bar {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1.5em;
  position: fixed;
}

.header-right {
  
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
  
}

.fa-angles-down {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}