

.new-tweet {
  font-weight: bold;
  color: blue;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  
}

.button-tweet {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(74, 1, 143);
  color: white;
  font-family: 'Bungee', cursive;
}

.bottom-tweet {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  height: 30px;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
/* No borders but the bottom one, remove the outline when you click on text area */

.tweet-container {
  padding: 15px 15px;
  
}

.tweet {
  padding: 10px 10px;
  border: 5px solid rgb(74, 1, 143);
  margin: 25px 0px;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.bot-container {
  border-top: 5px solid rgb(74, 1, 143);
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.bottom-right {
  padding: 5px;
  display: flex;
  
}

.bottom-left {
  padding: 5px;
  display: flex;
}

.fa-flag {
  padding: 5px;
}
.fa-retweet {
  padding: 5px;
}
.fa-heart {
  padding: 5px;
}
.fa-flag:hover {

  color: orangered;
}

.fa-retweet:hover {
  padding: 5px;
  color: orangered;
}

.fa-heart:hover {
  padding: 5px;
  color: orangered;
}

.fa-user {
  padding: 5px 5px;
}