

.new-tweet {
  font-weight: bold;
  color: blue;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  
}

.button-tweet {
  display: flex;
  justify-content: flex-start;
}

.bottom-tweet {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  height: 30px;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
/* No borders but the bottom one, remove the outline when you click on text area */

.tweet-container {
  border: 5px solid blueviolet;
  height: 300px;
  padding: 15px 15px;
}

.top-container {
  display: flex;
  justify-content: space-between;
}